.filter-option{
    position: absolute;
    top: 10px;
    width: 80%;
    left: 10%;
    right: 10%;
    z-index: 2;
    height: 45px;
    display: flex;
    justify-content: center;
    opacity: 0.9;
}

.filter-option input, .filter-option .ant-select{
    width: 350px;
}
.filter-option .ant-select-selector{
    height: 100% !important;
}
.filter-option button{
    width: 150px;
    height: 100% !important;
}

@media (max-width: 980px) {
    .filter-option input, .filter-option .ant-select{
        width: 310px;
    }
    .filter-option button{
        width: 110px;
    }
}

@media (max-width: 800px) {
    .filter-option input, .filter-option .ant-select{
        width: 270px;
    }
    .filter-option button{
        width: 70px;
    }
}
@media (max-width: 700px) {
    .filter-option input, .filter-option .ant-select{
        width: 200px;
    }
    .filter-option button{
        width: 70px;
    }
}
@media (max-width: 550px) {
    .filter-option input, .filter-option .ant-select{
        width: 140px;
    }
    .filter-option button{
        width: 70px;
    }
}
@media (max-width: 430px) {
    .filter-option input, .filter-option .ant-select{
        width: 100px;
    }
    .filter-option button{
        width: 70px;
    }
}
@media (max-width: 332px) {
    .filter-option{
        width: 90%;
        left: 10%;
    }
    .filter-option input, .filter-option .ant-select{
        width: 70px;
    }
    .filter-option button{
        width: 50px;
    }
}

@media (max-width: 239px) {
    .filter-option{
        width: 85%;
        left: 15%;
    }
    .filter-option input, .filter-option .ant-select{
        width: 50px;
    }
    .filter-option button{
        width: 30px;
    }
}
