.filter-option{
    position: absolute;
    top: 10px;
    width: 80%;
    left: 10%;
    right: 10%;
    z-index: 2;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    opacity: 0.9;
    overflow-y: auto;
}

.filter-option .ant-select{
    width: 250px;
}
.filter-option .ant-select-selector{
    height: 45px !important;
}
.filter-option button{
    height: 45px !important;
    opacity: 0.85;
}
.filter-option button:hover{
    opacity: 1;
}

@media (max-width: 800px) {
    .filter-option button{
        width: 250px;
    }
}

@media (max-width: 350px) {
    .filter-option{
        width: 90%;
        left: 10%;
    }
    .filter-option .ant-select, .filter-option button{
        width: 230px;
    }
}

@media (max-width: 300px) {
    .filter-option{
        width: 85%;
        left: 13%;
    }
    .filter-option .ant-select, .filter-option button{
        width: 190px;
    }
}
